$button-padding: 10px 30px;

@mixin onhover-link($color) {
  position: relative;
  text-decoration: none !important;
  &::after {
    content: '';
    bottom: 0em;
    left: 0em;
    height: 1.5px;
    width: 0px;
    background-color: $color;  
    position: absolute;
    transition: width 200ms;
  }
  &:hover::after {
    width: 100%;
  }
}

@mixin button-style($color) {
  border-style: none;
  padding: $button-padding; 
  border-radius: 7px;
  background-color: $color;
}

.nav {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  align-items: center;
  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px
  }
}

.h2 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}
.link {
  text-decoration: none !important;
  &:any-link {
    color: black
  }
}
button.create {
  @include button-style(rgb(0, 158, 255));
  color: white;
}

button.switch-theme {
  @include button-style(white);
}

.about {
  @include onhover-link(black);
}

@media screen and (max-width: 430px) {
  .nav {
    display: grid;
  }
}

html.dark {
  .h2 {
    color: white !important;
  }
  .about {
    @include onhover-link(yellow);
  }
  .link {
    color: white !important;    
  }
}