* {
	box-sizing: border-box;
	font-family: Inter !important;
}

html, body {
	padding: 0;
	background-color: rgb(255, 250, 235);
	height: 100%;
	.dark {
		background-color: #131313;
	}
}

/* Disable UIkit's uk-link class color */
.uk-link, a {
}