@use "scrollbar";
@use "colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: Inter !important;
}

html {
  padding: 0;
  margin: 0;
  background: c.$light-bg-color !important;
} 
html.dark {
  background: c.$dark-bg-color !important;
};

.uk-link, a {
  color: #000 !important;
  &:hover {
    text-decoration: none !important;
  }
}