.about-main {
  padding: 10px;
  text-align: center;
}

.content, .stack {
  margin-top: 10px;
  margin-bottom: 4rem;
} 
.about-title {
  color: black;
}

.no-underline {
  text-decoration: none !important;
}

/* dark */
html.dark {
  .about-title {
    color: #a1a1a1;
  }
  .stack, .content {
    color: white;
  }
}